.test{
  background-color: lightgrey;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  font-weight: bold;
  font-size: 24px;
}

.logo{
  background-color: black;
  width: 250px;
  height: 250px;
}

.firstOrangeLine{
  position: absolute;
  background-color: orange;
  margin: 2rem 5rem;
  width: 25px;
  height: 110px;
  transform: rotate(40deg);
  border-radius: 5px;
}

.secondOrangeLine{
  position: absolute;
  background-color: orange;
  margin: 6rem 5rem;
  width: 25px;
  height: 100px;
  transform: rotate(-50deg);
  border-radius: 5px;
}

.firstBlueLine{
  position: absolute;
  background-color: skyblue;
  margin: 8rem 9rem ;
  width: 25px;
  height: 110px;
  transform: rotate(40deg);
  border-radius: 5px;
}

.secondBlueLine{
  position: absolute;
  background-color: skyblue;
  margin: 4rem 10rem ;
  width: 25px;
  height: 98px;
  transform: rotate(-50deg);
  border-radius: 5px;
}